* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(61, 43, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

::selection {
  background-color: rgb(61, 43, 197);
}

.get_location {
  width: 400px;
  height: 230px;
  background-color: rgb(83, 64, 222);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.heading-section {
  display: flex;
  flex-direction: row;
  gap: 17px;
  border-bottom: 1px solid #fff;
  padding: 10px 0 10px 20px;
}

.heading-section i {
  font-size: 34px;
  cursor: pointer;
  transition: all 0.3s;
}

.heading-section i:hover {
  color: rgb(61, 43, 197);
}

.input-section {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}

.or_btn {
  font-size: 30px;
}

.get_location .arrow {
  display: none;
}

.display-weather {
  width: 450px;
  height: 520px;
  background-color: rgb(83, 64, 222);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.weather-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}

.temp-value {
  font-size: 60px;
}

.temp-like {
  font-size: 20px;
}

.display-location {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.display-location i {
  font-size: 30px;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 30px;
}

.feels-like-section,
.humidity-section {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 3px;
}

.feels-like-section i,
.humidity-section i {
  font-size: 35px;
}

.feels-like-section {
  padding-right: 60px;
  border-right: 1px solid;
}

.humidity-section {
  padding-left: 60px;
}

.display-weather {
  display: none;
}
